
.banner {
  background-color: rgb(62, 62, 62);
  height: 300px;
}

.banner__text {
  text-align: center;
  position: relative;
  width:100%;
  height:40%;
  top:30%;
}

.banner__title {
  font-size: 2em;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 2.5;
}

.banner__body {
  font-size: 1em;
  font-family: "Nunito Sans";
  color: rgb(255, 255, 255);
  line-height: 1.5;
}
